.score {
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
    justify-content: space-evenly;
}

.statbox{
    display:flex;
    flex-direction: row;

}
.stats {
    display:flex;
    flex-direction: column;
    border: 1px solid black;
    height: 40px;
    width: 100px;
    text-align: center;
}


.title {
    display: flex;
    width: 40%;
    height: 10%;
    justify-content: space-evenly;
}

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 90%;
    width: 100%;
    background-color: cornflowerblue;
    align-content: center;
    border: 2px solid black;
}

.card {
    display: flex;
    width: 120px;
    height: 120px;
    margin: 0px;
    justify-content: space-evenly;
    background-color: lightcyan;
    padding-top: 0%;

}
.cardtop {
    position: absolute;
    width: 110px;
    height: 110px;
    object-fit: cover;
    vertical-align: middle;
    border: 2px solid black;
}

.cardimage {
    position: absolute;
    width: 110px;
    height: 110px;
    object-fit: cover;
    vertical-align: middle;

}

    .pic1{
    background-image: url("images/pic1.jpg");
    background-position: center;
    background-size: cover;

    }
    .pic2{
    background-image: url("images/pic2.jpg");
    background-position: center;
    background-size: cover;
    
    }
    .pic3{
    background-image: url("images/pic3.jpg");
    background-position: center;
    background-size: cover;

    }
    .pic4{
    background-image: url("images/pic4.jpg");
    background-position: center;
    background-size: cover;

    }
    .pic5{
    background-image: url("images/pic5.jpg");
    background-position: center;
    background-size: cover;

    }
    .pic6{
    background-image: url("images/pic6.jpg");
    background-position: center;
    background-size: cover;
    }

    .pic7{
    background-image: url("images/pic11.jpg");
    background-position: center;
    background-size: cover;
    }

    .pic8{
    background-image: url("images/pic8.jpg");
    background-position: center;
    background-size: cover;
    }

    .pic9{
    background-image: url("images/pic9.jpg");
    background-position: center;
    background-size: cover;
    }

    .pic10{
    background-image: url("images/pic10.jpg");
    background-position: center;
    background-size: cover;
    }


.modal{
    height: 200px;
    width: 200px;
    z-index: 1200;
    border: 3px solid black;
    border-radius: 50%;
    background-color: chocolate;
    position: fixed;
    top: 50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.modal-content{
    background-color: red;
    font-size: larger;
    text-shadow: cyan;
    margin: 80px;
}


.hidden {
    display: none;
}
