
body{
    background-image: url("images/sun-beam-clouds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    align-content: center;
    height: 100vh;
}
main{
    align-content: center;
}
.toptitle{
    font-style: italic;
    font-weight: bold;
    text-align: center;
    color: rgb(116, 211, 214);
    text-shadow: 2px 2px 7px #111111;
    }

.bannertitle {
    display: flex;
    flex-wrap: wrap;
    width: 99%;
    height: 10%;
    justify-content: space-evenly;
    font-size: larger;
    font-style: initial;
}

.score {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 3px solid black;
    border-radius: 3px;
    opacity: 50%;
    width: 100%;
    margin-left: 1%;
}

.statbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.statnumbers, .stats{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 50%;
    height: 40px;
    width: 80px;
    text-align: center;
    justify-content: center;
}
.stats {
    background-color: lightskyblue;
    opacity:100%;
}

.statnumbers {
    background-color: lightseagreen;
}

/*********Full - size***********************/
@media screen and (min-width:1000px){

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 600px;
    width: 99%vw;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: block;
    position: relative;
    /* min-height: 60px;
    min-width: 60px; */
    width: 15%;
    height: 27%;
    align-content: center;
    justify-content: space-evenly;
    background-color: lightyellow;
    border: 2px solid black;
    border-radius: 5%;
    padding-top: .5%;
    margin: 3px;
}
.cardtop, .cardimage {
    position: absolute;
    width: 90%;
    height: 90%;
    object-fit: cover;
    vertical-align: middle;
    margin-top: 1%;
    margin-left: 4%;
    border-radius: 4%;
}

.cardimage {
    background-color: maroon;
}
}

/********* I-Pad size ***********************/
@media only screen and (max-width:1150px) and (orientation: portrait){

.statbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 900px;
    width: 99%;
    align-content: center;

}
.card {
    display: block;
    position: relative;
    /* min-height: 60px;
    min-width: 60px; */
    width: 25%;
    height: 15%;
    align-content: center;
    justify-content: space-evenly;
    background-color: rgb(108, 222, 250);
    border-radius: 5%;
    padding-top: .5%;
    margin: 0.3%;
}
.cardtop, .cardimage {
    position: absolute;
    width: 95%;
    height: 95%;
    object-fit: cover;
    vertical-align: middle;
    margin-top: 0.5%;
    margin-left: 2%;
    border-radius: 4%;
}

.cardimage {
    background-color: maroon;
}
}
/********* phone size portrait*****************/
@media screen and (max-width:375px) and (orientation: portrait){

    .statbox{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 75vh;
    width: 99%;
    align-content: center;
    padding: 2%;
}
.card {
    display: block;
    position: relative;
    width: 25%;
    height: 15%;
    align-content: center;
    justify-content: space-evenly;
    background-color: rgb(212, 141, 195);
    background-position: center;
    border: 2px solid black;
    border-radius: 5%;
    padding-top: 0%;
    margin: 2px;
}
.cardtop, .cardimage {
    display: block;
    position: absolute;
    width: 95%;
    height: 95%;
    object-fit: cover;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 4%;
}

.cardimage {
    background-color: maroon;
}
}

/********* phone size landscape*****************/
@media screen and (max-width:670px) and (orientation: landscape) {

    .statbox{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 75vh;
    width: 99%;
    align-content: center;
    padding: 0%;
}
.card {
    display: block;
    position: relative;
    width: 15%;
    height: 25%;
    align-content: center;
    justify-content: space-evenly;
    background-color: rgb(212, 141, 195);
    background-position: center;
    border: 2px solid black;
    border-radius: 5%;
    padding-top: 0%;
    margin: 2px;
}
.cardtop, .cardimage {
    display: block;
    position: absolute;
    width: 95%;
    height: 95%;
    object-fit: cover;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 4%;
}

.cardimage {
    background-color: maroon;
}
}
/*************** Classes for the card pictures ************/
    .pic1{
    background-image: url("images/pic1.jpg");
    background-position: center;
    background-size: cover;
    }

    .pic2{
    background-image: url("images/pic2.jpg");
    background-position: center;
    background-size: cover;
    }

    .pic3{
    background-image: url("images/pic3.jpg");
    background-position: center;
    background-size: cover;
    }

    .pic4{
    background-image: url("images/pic4.jpg");
    background-position: center;
    background-size: cover;
    }

    .pic5{
    background-image: url("images/pic5.jpg");
    background-position: center;
    background-size: cover;
    }

    .pic6{
    background-image: url("images/pic6.jpg");
    background-position: center;
    background-size: cover;
    }

    .pic7{
    background-image: url("images/pic11.jpg");
    background-position: center;
    background-size: cover;
    }

    .pic8{
    background-image: url("images/pic8.jpg");
    background-position: center;
    background-size: cover;
    }

    .pic9{
    background-image: url("images/pic9.jpg");
    background-position: center;
    background-size: cover;
    }

    .pic10{
    background-image: url("images/pic10.jpg");
    background-position: center;
    background-size: cover;
    }

    .pic12{
    background-image: url("images/pic12.jpg");
    background-position: center;
    background-size: cover;
    }

    .picsage{
    background-image: url("images/sage_kids.jpeg");
    background-position: center;
    background-size: cover;
    }

    .picr-j {
    background-image: url("images/r-and-j-leaves.jpg");
    background-position: center;
    background-size: cover;
    }

/********* Modals ***************/

.modalwin{
    height: 600px;
    width: 600px;
    z-index: 1200;
    color: white;
    text-align: center;
    font-size: 3em;
    border: 3px solid black;
    border-radius: 50%;
    background-color: chocolate;
    position: fixed;
    top: 50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.modalmatch{
    height: 200px;
    width: 200px;
    z-index: 120;
    color: white;
    text-align: center;
    border: 3px solid black;
    border-radius: 50%;
    background-color: rgb(236, 196, 17);
    position: fixed;
    top: 50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.winner{
    position: absolute;
    top: 50%;
    left: 30%;
}

.matcher{
    position: absolute;
    top: 50%;
    left: 30%;
}

.clicked {
    pointer-events: none;
}

.hidden {
    display: none;
}
